---
layout: default
permalink: "/assignment/"
head_title: ""
description: ""
amp_components:
- amp-img
- amp-recaptcha-input
- amp-vimeo
redirect_from: []
heading: Admissions Assignment
form_heading: Student Information
title: Assignment
challenge_description:
- "This Code Challenge is not designed to test your coding ability, but rather your resourcefulness, patience, attention to detail, and ability to follow directions. For some it will be easy if you have been studying code on your own, for others, it may be quite challenging. If this is the first time you’re seeing these coding languages, it may take some time and research."
- "Keep in mind, if you are admitted to our program, we specialize in teaching true beginners! Get as far as you can, and submit your answer even if you don’t get all the way through."
- "If you simply follow the directions to the letter, you will complete the task no sweat!"
challenge_steps:
- "<Click this CodePen link></Click><https://codepen.io/austincoding/pen/LYpNvrp> to open up your starter code:"
img_src: /assets/uploads/coding-assignment.png
resources:
- name: What is the web?
  url: https://www.youtube.com/playlist?list=PLo3w8EB99pqLEopnunz-dOOBJ8t-Wgt2g
- name: Codepen
  url: https://codepen.io/austincoding/pen/ELabMz
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<main class="mt-90 pt-1 pb-5 px-4 px-md-0">
  <div class="my-3 container mb-6">
    <h1 class="text-center font-family-alt display-5">
      {{ page.heading | liquify }}
    </h1>
  </div>

  <div class="col-xs-10 col-sm-10 mx-auto col-md-7 col-lg-7 d-flex flex-column justify-content-center align-items-center">  
    <p class="mb-4">Thank you for taking the time to apply to {{ school.name | liquify }}! Below you will find the two parts of the Admissions Assignment: the first is a short essay, and the second is a coding challenge. Please complete both before submitting at the bottom of the page.</p>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ settings.assignment_form_guid }}"
      target="_top"
      method="POST"
    >
      <!-- htmllint preset="none" -->
      <input name="redirect_url" type="hidden" value="{% include school-url.html %}/thank-you/">
      <!-- htmllint preset="$previous" -->
      <div class="form-container">
        <div class="row center-form mb-4">
          <!-- Input -->
          <div class="col-6">
            <div class="form-group">
              <label for="firstname" class="form-label">
                First Name <span class="text-red-a">*</span>
              </label>

              <input
                id="firstname"
                type="text"
                class="form-control"
                name="firstname"
                placeholder="First Name"
                required data-msg="Please enter your first name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="lastname" class="form-label">
                Last Name <span class="text-red-a">*</span>
              </label>

              <input
                id="lastname"
                type="text"
                class="form-control"
                name="lastname"
                placeholder="Last Name"
                required data-msg="Please enter your last name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="email" class="form-label">
                Email <span class="text-red-a">*</span>
              </label>

              <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                required data-msg="Please enter your email."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          
        <h3>Admissions Essay</h3>
        <div class="js-form-message mb-6 col-sm-12">
          <label for="goals" class="form-label">
            In a few paragraphs, please explain: What are your goals with learning to code? Why are you a good fit for {{ school.name | liquify }}? <span class="text-red-a">*</span>
          </label>

          <div class="input-group">
            <textarea
              class="form-control"
              id="goals"
              rows="14"
              name="what_are_your_goals_with_learning_to_code_and_why_are_you_taking_classes_"
              placeholder="3-5 paragraphs"
              aria-label="Goals question"
              required
              data-msg="Please enter a response."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  <div class="row mt-4">

    <!-- <div class="row"> -->
      <h3>Admissions Coding Challenge</h3>
      <div class="mt-3 d-flex flex-column justify-content-center">
        {% for item in page.challenge_description %}
          <p>{{ item }}</p>
        {% endfor %}
      </div>
    <!-- </div> -->
    <ul class="px-5 d-flex flex-column justify-content-center" style="list-style-type:decimal;">
      <li class="mt-4">
        <p><a href="https://codepen.io/austincoding/pen/LYpNvrp" target="_blank">Click this CodePen link</a> to open up your starter code:</p>
        <div class="px-4">
          <a href="https://codepen.io/austincoding/pen/LYpNvrp" target="_blank">
            <amp-img height="172" width="500" layout="responsive" class="img-fluid mw-100 rounded" src="/assets/uploads/coding-assignment-img.jpg" alt="Code Pen"></amp-img>
          </a>
        </div>
      </li>
      <li>
        <p class="mt-4">Watch the video here <a href="https://vimeo.com/411054414" target="_blank">https://vimeo.com/411054414</a> as it explains what’s going on with the code:</p>
        <div class="px-4">
          <amp-vimeo
            data-videoid="411054414"
            layout="responsive"
            width="500"
            height="281"
          ></amp-vimeo>
        </div>
      </li>
      <li>
        <p class="mt-4">Pause, rewind, rewatch, google, and rewind again the video to fully understand!</p>
      </li>
      <li>
        <p class="mt-4">
          Directions for the Code Challenge are written in <a href="https://en.wikipedia.org/wiki/Comment_(computer_programming)" target="_blank">Commented Code</a> inside the CodePen.
        </p>
      </li>
      <ul class="px-4">
        <li class="mt-2">Commented code is text for only humans to read that the computer ignores</li>
        <li class="mt-2">&lt!--  HTML commented code looks like this --></p>
        <li class="mt-2">/*  CSS commented code looks like this  */</li>
        <li class="mt-2">//  JavaScript commented code looks like this</li>
        <li class="mt-2">The directions are 5 steps, starting in the HTML code with the final step in CSS</li>
      </ul>
      <li>
        <p class="mt-4">
          Once you’ve completed the challenge, save this CodePen to your account.
        </p>
      </li>
      <li>
        <p class="mt-4">
          Copy the URL at the top of the browser and paste it in the form input below:
        </p>
      </li>
    </ul>
    <div class="bg-light mx-auto px-5 mt-4">
      <p>HELPFUL NOTES FOR THIS CHALLENGE:</p>
      <ul>
        <li>
          If you get stuck, feel free to reach out to your Admissions Advisor for some guidance. <strong>It’s not meant to trick you!</strong>
        </li>
        <li>
          If you mess up your code and need to reset the assignment, simply click on the CodePen link again, “fork” it again, and it will go back to the start. <i>You might need to rename the Pen in your account.</i>
        </li>
        <li>
          This is meant to pique your curiosity about how code works together. You don’t need to understand every single line and what it does.
        </li>
        <li>
          If any particular line of code doesn’t make sense, GOOGLE IS YOUR FRIEND! This is totally “open-book.”
        </li>
      </ul>
    </div>
    <!-- <div class="col-xs-10 col-sm-10 mx-auto col-md-7 px-3 col-lg-7 d-flex flex-column justify-content-center"></div> -->
  </div>
  
    <div class="mt-3">
        <div class="col-12">
          <div class="form-group">
            <label for="url" class="form-label">
              URL <span class="text-red-a">*</span>
            </label>

            <input
              id="url"
              type="text"
              class="form-control"
              name="url"
              placeholder="https://codepen.io/(your-code-address)/"
              required data-msg="Please enter your first name."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            />
          </div>
        </div>
        <!-- End Input -->
        <p>Bonus Challenge: Explain in your own words how the JavaScript interacts with the HTML to make the button do what the button does: </p>
        <!-- Input -->
        <div class="mb-3 mb-sm-6 col-12 col-sm-{{ field.small_width }} col-md-{{ field.medium_width }} {{ field.class }}">
          <div class="form-group">
            <label for="explanation" class="form-label">
              Explanation
            </label>
            <textarea
              id="explanation"
              class="form-control"
              name="explanation"
              rows="12"
              placeholder="Describe your code in a few sentences"
              aria-label="Explanation"
            ></textarea>
          </div>
        </div>
        <!-- End Input -->
        <div class="d-flex justify-content-center mb-4">
          <button
            type="submit"
            class="text-white btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark hover-white mx-auto"
          >
            Submit
          </button>
        </div>
        <div class="col-12">
          {% include data-agreement.html %}
        </div>
        <p class="mt-4">What the answer should look like:</p>
        <amp-img height="172" width="500" layout="responsive" class="img-fluid mw-100 rounded" src="/assets/uploads/assignment-solution.png" alt="Assignment Solution"></amp-img>
      </form>
      <!-- End Form -->
   
  </div>
  <!-- </div> -->

</main>
