---
layout: default
permalink: "/courses/cyber-security/"
title: Courses - Cyber Security
amp_components:
- amp-carousel
- amp-fx
- amp-recaptcha-input
head_title: Texas Tech Coding Academy | Cyber Security
description: ''
hero: js
hero_heading: Cyber Security
hero_text: The Cyber Security course is practical and project-based. It prepares students
  to achieve and excel in employment in the quickly growing field of cybersecurity
  (methodologies in defensive, offensive, and cloud based computing). Our courses
  are developed and taught by instructors and industry professionals who understand
  industry certifications and provide a focus on competent, continued learning and
  community contribution.
overview:
- title: In the Classroom
  odd: true
  text: Part-time, evening classes work around your schedule so you can begin your
    career transition while continuing to support yourself. Led by instructors who
    work as professionals in the cyber security field, classes focus on in-depth,
    practical projects that prepare you for success in your new career.
  img_src: "/assets/uploads/cap-factory-web-dev.jpg"
- title: Outside of Class
  text: Students are expected to utilize their e-textbook, unlimited tutoring, and
    organized group study sessions to practice course material outside of class –
    part of our flipped classroom approach. By studying outside of class, students
    can use class time to build their projects and get feedback from their instructor.
  img_src: "/assets/uploads/cap-factory-web-dev-2.jpg"
- title: Job Readiness
  odd: true
  text: "{{ school.name }}’s Cyber Security Track is designed to take students from
    no experience to job ready in under a year. At the end of each course throughout
    the cyber security program, students will be prepared to take one of five CompTIA
    cyber security certifications (Network+, Security+, CySA+, PenTest+, and CASP+)."
  img_src: "/assets/uploads/cap-factory-web-dev-3.jpg"
schools:
- key: texastechcodingacademy
  courses:
  - code: CYS 101
    sections: []
  - code: CYS 211
    sections: []
  - code: CYS 311
    sections: []
  - code: CYS 411
    sections: []
  - code: CYS 511
    sections: []
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero | liquify }}" class="bg-gradient hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-sm-4 text-center">
    {{ page.hero_heading | liquify }}
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text | liquify }}
  </p>
  <div class="d-flex mt-4 align-items-center justify-content-center">
    {% if school.course_guide != '' %}
    <div class="mr-2">
      <!-- htmllint preset="none" -->
      <a
        class="btn {% if school.inverted != true %}btn-round{% endif %} btn-outline-light {{ include.class | liquify }}"
        on="tap:course-guide-lightbox"
        role="button"
        tabindex="-1"
        href="#"
      >
      <!-- htmllint preset="$previous" -->
        Course Guide
      </a>
    </div>
      <amp-lightbox
        id="course-guide-lightbox"
        class="lightbox text-white mt-10 mt-sm-0 pb-8 pb-sm-0 pt-6 pt-sm-0 px-4 px-sm-0"
        layout="nodisplay"
        scrollable
        on="tap:course-guide-lightbox.close"
        tabindex="-1"
        role="dialog"
      >
        {% include course-guide-form.html lightbox=true text_class="text-white" %}
      </amp-lightbox>
    {% endif %}
    <div class="ml-2">{% include btn-apply.html %}</div>
  </div>
</div>

<main>
  <!-- htmllint preset="none" -->
  <section class="py-8 container-fluid {{ page.hero | liquify }}-gradient text-white">
    <!-- htmllint preset="$previous" -->
    <div class="row flex-column align-items-center">
      <div class="col-md-8 p-0 pl-sm-5 d-flex">
        <h2 amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="font-family-alt display-5 mx-auto mt-2 mb-4 text-center text-sm-left">
          Program Overview
        </h2>
      </div>
      <!-- overview blocks -->
      <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="container text-center text-sm-left">
        {% for item in page.overview %}
          {% if item.odd %}
            <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="flex-wrap flex-sm-nowrap d-flex justify-content-between align-items-center mb-2 p-4">
              <div class="w-100 w-sm-50 m-0 mr-sm-4 text-white">
                <h4>
                  {{ item.title | liquify }}
                </h4>
                <p class="text-white mx-auto">
                  {{ item.text | liquify }}
                </p>
              </div>
              <div class="w-100 w-sm-50 p-0 pl-sm-4 my-auto">
                <amp-img
                  layout="responsive"
                  class="img-fluid shadow-black"
                  width="3535"
                  height="2146"
                  src="{{ item.img_src | liquify }}"
                >
                </amp-img>
              </div>
            </div>
          {% else %}
            <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
              <div class="w-100 w-sm-50 p-0 pr-sm-4 my-auto">
                <amp-img
                  layout="responsive"
                  class="img-fluid shadow-black"
                  width="3535"
                  height="2146"
                  src="{{ item.img_src | liquify }}"
                >
                </amp-img>
              </div>
              <div class="w-100 w-sm-50 m-0 ml-sm-4">
                <h4>
                  {{ item.title | liquify }}
                </h4>
                <p class="text-white">
                  {{ item.text | liquify }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- end overview blocks -->
  </section>

  <section class="py-8 container">
    <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="font-family-alt w-100 mx-auto display-5 mb-4 pt-2 text-center text-sm-left">
      Course Structure
    </div>
    <div class="row d-flex flex-column align-items-center">
      <!-- course cards start -->
      {% for _course in school.courses %}
        {% for __course in settings.courses %}
          {% if __course.code == _course.code %}
            {% assign course = __course | hash_concat: _course %}
          {% endif %}
        {% endfor %}
        <div
          amp-fx="fade-in"
          data-duration="600ms" data-margin-start="1%" data-margin-end="20%"
          class="w-100 border shadow mb-4 px-4 pt-4 pt-sm-0 mx-auto d-flex flex-wrap align-items-center justify-content-between rounded course-hover"
          style="min-height: 350px;"
        >
          <div>
            <div
              amp-fx="fade-in"
              data-duration="600ms"
              data-margin-start="1%"
              data-margin-end="20%"
              class="display-6 mb-4 pl-2 pl-sm-0"
            >
              <strong>{{ course.code | liquify }}: {{ course.title | liquify }}</strong>
            </div>
            <div>
              {% for item in course.list %}
                <ul amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%">
                  <li>
                    {{ item | liquify }}
                  </li>
                </ul>
              {% endfor %}
            </div>
          </div>
          {{ course.length }}
          {% if course.length != '' and course.length != nil %}
            <div
              amp-fx="fade-in"
              data-duration="600ms" data-margin-start="1%" data-margin-end="20%"
              class="display-6 card-body shadow rounded border col-md-3 mb-4 text-center"
            >
              {{ course.length | liquify }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <!-- course cards end -->
    </div>
  </section>
  {% if school.course_guide != '' %}
  <!-- htmllint preset="none" -->
  <section id="course-guide" class="container-fluid {{ page.hero | liquify }}-gradient text-white py-8">
  <!-- htmllint preset="$previous" -->
    <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="row justify-content-center">
      <div class="col-md-8">
        {% include course-guide-form.html fade=true %}
      </div>
    </div>
  </section>
  {% endif %}

  <section id="contact" class="container-fluid py-11">
    <div class="row d-flex flex-column justify-content-center align-items-center mx-auto">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <h2 amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="font-family-alt font-weight-bold text-center display-6">
          Still Have Questions?
        </h2>
        <div amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%" class="mw-600 mx-auto p-2 p-md-0">
          <h5 class="mb-4 text-center">
            From choosing the right course to understanding course details, we're here
            to help.
          </h5>
          {% include contact-form.html %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  {% for _course in school.courses %}
    {% for __course in settings.courses %}
      {% if __course.code == _course.code %}
        {% assign course = __course | hash_concat: _course %}
      {% endif %}
    {% endfor %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title | liquify }}",
      "courseCode": "{{ course.code | liquify }}",
      "description": "{{ course.description | liquify }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
          {% for _location in school.locations %}
            {% if _location.name == section.location %}
              {% assign location = _location %}
            {% endif %}
          {% endfor %}
          {
            "@type": "CourseInstance",
            "name": "{{ course.title | liquify }}",
            "description": "{{ course.description | liquify }}",
            "startDate": "{{ section.start | liquify }}",
            "endDate": "{{ section.end | liquify }}",
            "location": {
              "@type": "Place",
              "name": "{{ school.name }}",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ location.street | liquify }}",
                "addressLocality": "{{ location.city }}",
                "addressRegion": "{{ location.state }}",
                "postalCode": "{{ location.postal }}",
                "addressCountry": "US"
              }
            }
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "{{ school.name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ school.url | append: school.logo }}"
        }
      }
    }
    </script>
  {% endfor %}
</main>