---
layout: default
permalink: "/tuition/isa/"
title: ISA
amp_components:
- amp-carousel
- amp-lightbox
- amp-img
- amp-recaptcha-input
course_guide_form_guid: b742c715-7280-4cae-bb5a-5f47b31266fa
redirect_from: []
hero_heading: What is an ISA?
hero_text: <h3>ISA’s are an innovative and flexible financing option to begin your education and find your dream career in tech. We offer options for our part-time and full-time classes so can work towards bigger opportunities while removing financial stress.</h3><h3>If you think an ISA could be a great option for you or you are ready to learn more, download our ISA Guide or book a call with an admissions specialist who can help you walk through the process of investing in your future.</h3>
info_img: '/assets/uploads/ISA_artboard.png'
isa_pdf_download_form_guid: ff0dbcb6-3bd2-479c-80a5-f26dea2c092d
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<!-- htmllint preset="none" -->
<div id="" class="bg-primary-dark hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-sm-4 text-center">
    {{ page.hero_heading | liquify }}
  </h1>
  <div class="text-white mx-auto px-2 container text-center">
    {{ page.hero_text | liquify }}
  </div>

  <div class="d-flex mt-4 align-items-center justify-content-center">
    <div class="mr-2">
      {% include btn-apply.html href='https://www.eventbrite.com/e/4-day-mini-bootcamp-build-a-wordpress-site-online-store-tickets-105305702190' %}
    </div>
  </div>
</div>

<section class="py-8 mt-4 container">
  <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
    What benefits are there to using an ISA to a traditional loan?
  </h2>
  <p class="mw-600 mx-auto text-center">
    You can think of an ISA as income insurance. If at any point during your repayment window you drop below the minimum income of $40,000/yr, you will not pay anything that month. In traditional loans, you will have monthly payments no matter what your financial situation is.
  </p>
  <p class="mw-600 mx-auto text-center">
    With an ISA, you pay a percentage of your monthly income to make sure that it is proportional to your success in your career. Our school is literally invested in your success!
  </p>
</section>
<section class="py-8 mt-4 container">
  <h2
    amp-fx="fade-in"
    data-duration="600ms"
    data-margin-start="1%"
    data-margin-end="20%"
    class="col-12 font-family-alt font-weight-bold text-center display-5 mb-8"
  >
    Download Info PDF
  </h2>
  <div class="row d-flex justify-content-center px-5">
    <div class="d-none d-md-flex flex-column justify-content-center mb-7 col-xs-11 col-sm-11 col-md-5 col-lg-5 mx-auto">
      <!-- htmllint preset="none" -->
      <amp-img
        class="rounded border"
        amp-fx="fade-in"
        data-duration="600ms"
        data-margin-start="1%"
        data-margin-end="20%"
        layout="responsive"
        width="579"
        height="756"
        src="{{ page.info_img }}"
        alt="What's inside our course guide"
      ></amp-img>
      <!-- htmllint preset="$previous" -->
    </div>
    <!-- Form -->
    <div class="col-xs-11 col-sm-11 mx-auto col-md-7 col-lg-7 d-flex flex-column justify-content-center">
      <form
        action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ page.isa_pdf_download_form_guid }}"
        target="_top"
        method="POST"
      >
        <div class="form-container">
          <input name="lifecyclestage" type="hidden" value="marketingqualifiedlead">
          <input name="downloaded_a_courses_guide" type="hidden" value="true">
          <input name="hs_lead_status" type="hidden" value="NEW">
          <input name="page_name" type="hidden" value="{{ page.head_title | liquify }}">
          <input name="redirect_url" type="hidden" value="{{ settings.pdf_viewer_url | liquify }}/assets/uploads/ACA_ISA_PDF.pdf">
          <input name="zollege_school_new_" type="hidden" value="{{ school.name }}">
          <input name="callrail_company_id" type="hidden" value="{{ school.callrail_company_id }}" />
        </div>
        <div class="row center-form">
          <!-- Input -->
          <!-- htmllint preset="none" -->
          <div
            class="col-6"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            <div class="form-group">
              <label for="first-name-cg" class="form-label">
                First Name <span class="text-red-a">*</span>
              </label>

              <input id="first-name-cg"
                type="text"
                class="form-control"
                name="firstname"
                placeholder="First name"
                required data-msg="Please enter your first name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <!-- htmllint preset="none" -->
          <div
            class="col-6"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            <div class="form-group">
              <label for="last-name-cg" class="form-label">
                Last Name <span class="text-red-a">*</span>
              </label>

              <input id="last-name-cg"
                type="text"
                class="form-control"
                name="lastname"
                placeholder="Last name"
                required data-msg="Please enter your last name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <!-- htmllint preset="none" -->
          <div
            class="col-12"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            <div class="form-group">
              <label for="email-cg" class="form-label">
                Email <span class="text-red-a">*</span>
              </label>

              <input id="email-cg"
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                required data-msg="Please enter a valid email address."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <!-- htmllint preset="none" -->
          <div
            class="col-12"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            <div class="form-group">
              <label for="phone-cg" class="form-label">
                Phone <span class="text-red-a">*</span>
              </label>

              <input id="phone-cg"
                type="phone"
                class="form-control"
                name="phone"
                placeholder="Phone"
                required data-msg="Please enter a valid phone number."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <div
            class="col-12 d-flex flex-column justify-content-end mt-3"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            {% include referral-question.html %}

          </div>

           <!-- Input -->
          <!-- htmllint preset="none" -->
          <div
            class="col-12 d-flex align-items-end justify-content-center form-group"
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          >
          <!-- htmllint preset="$previous" -->
            <button type="submit" class="btn {% if school.inverted != true %}btn-round{% endif %} btn-sm-block text-white bg-primary-dark hover-white">
              Download
            </button>
          </div>
          <!-- End Input -->
          
          <div class="col-12">
            {% include data-agreement.html text_class=text_class %}
          </div>
          <div class="text-center">
          <div submit-error>
            <template type="amp-mustache">
              <p class="text-danger">There was an error with your request. Please try again.</p>
            </template>
          </div>
        </div>
      </form>
  </div>
</section>
<section class="my-4 container">
  <div class="pb-5">
    <h2 class="font-family-alt mb-8 text-center display-5">
      Frequently Asked Questions
    </h2>
    {% for _page in site.pages %}
      {% if _page.title == 'FAQ' %}
        {% assign faq_page = _page %}
        {% for _school in faq_page.schools %}
          {% if _school.key == site.key %}
            {% for category in _school.categories %}
              {% if category.title == 'Income Share Agreements' %}
                {% assign faqs = category.faqs %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    <amp-accordion disable-session-states>
      {% for faq in faqs %}
        <section class="mb-3">
          <h4 class="display-7 bg-light mb-0 px-2 p-1 rounded-top">
            {{ faq.question | liquify }}
          </h4>
          <p class="text-default px-2 py-1 border border-top-0 rounded-bottom">
            {{ faq.answer | liquify }}
          </p>
        </section>
      {% endfor %}
    </amp-accordion>
  </div>
</section>
<section class="my-4 container">
  <h2 class="font-family-alt font-weight-bold text-center display-5 mb-8">
    Still Have Questions?
  </h2>
  <div class="d-flex flex-column justify-content-center">
    {% include contact-form.html %}
  </div>
</section>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for faq in page.faqs %}
        {
          "@type": "Question",
          "name": "{{ faq.question | liquify }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ faq.answer | liquify }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}{% unless forloop.last %},{% endunless %}
    ]
  }
</script>