---
layout: default
permalink: "/sallie-mae/"
redirect_from: []

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
<div class="text-center mt-5">
  <h1>Sallie Mae Information</h1>
  <h4>What you need to know and how to apply</h4>
</div>
<div class="container mt-5 py-5">
  <p>
    <a href="https://www.salliemae.com/about/">Sallie Mae</a> is a financial institution that specializes in private student loans for colleges and schools across the country. Their loans are flexible, where you can choose the length, amount, and when you begin paying monthly to get yourself the rate that fits your budget. 
  </p>
  <p>
    If you want to put down a large down payment and finance the remainder of tuition, you can do that. If you want to finance your entire tuition plus expenses, and only pay interest or $25/mo until you finish your program, you can do that, too. 
  </p>
</div>
<div class="container">
  <p>
    How to apply for this loan:
  </p>
  <ul>
    <li>
      Navigate to <a href="https://www.salliemae.com/00364498">https://www.salliemae.com/00364498</a>
    </li>
    <li>
      To start your application, you have four selections to make: You’re a student joining a Career training school in Texas, called “TEXAS TECH UNIVERSITY - PROFESSIONAL EDUCATION, LUBBOCK, TX, 00364498”
    </li>
    <li>
      On the next page, fill out the information requested about you.
    </li>
    <li>
      Under the “School Information” page, put the following information:
      Degree/Certificate of Study: Certificate
      Major/Specialty: Other (what you choose here isn’t important)
      Enrollment Status: Less Than Half Time
      Grade Level: Certificate/Continuing Ed
      Academic Period of the Loan: beginning month and ending month of your cohort
      Anticipated Graduation / Completion: Projected graduation month (same as ending month above)
    </li>
    <li>
      Calculate your Loan amount: This is where you choose your loan terms.
      Total tuition for the TTCA program is $9960. You may select either In-State or Out-of-State cost, there is no difference. Type $0 for Estimated Financial Assistance. In the input for “Loan Request,” you can choose up to the total tuition amount, but can take a much smaller amount if you plan to pay most tuition out-of-pocket. If needed, you may request more than the tuition amount to cover costs like a laptop and living expenses.
    </li>
    <li>
      Complete Employment Information and Financial Information as requested.
    </li>
    <li>
      List two personal contacts that are not your co-signers.
    </li>
    <li>
      Choose whether to apply individually or with a cosigner.
    </li>
    <li>
      Agree to the terms and conditions that pop up.
    </li>
    <li>
      Submit your application, and await your quick response! In general, your results are offered within minutes.
    </li>
    <li>
      If you are approved for the loan, you’ll then be able to choose your style of repayment: deferment, $25/month while you’re in the program, or interest payments while you’re in the program.
    </li>
    <li>
      If the terms fit you, accept the loan, and the funds will be disbursed directly to the school. Any amount above the tuition amount will be paid from the school to you for your living expenses or any equipment.
    </li>
  </ul>
  <p>
    Once you have accepted the loan terms, you’ll be fully enrolled in Texas Tech Coding Academy, and have taken your first big step to a rewarding and life-long career in technology!
  </p>
</div>