---
layout: default
permalink: "/locations/ttca-jefferson/"
title: Jefferson
amp_components:
- amp-img
- amp-recaptcha-input
- amp-iframe
redirect_from:
- "/ttca-jefferson/"
- "/locations/jefferson"
- "/jefferson/"

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container pt-1 pb-5">
  <h2 class="font-family-alt font-weight-bold text-center display-5 my-10">
    Texas Tech Coding Academy - Jefferson
  </h2>
  <img layout="responsive" class="img-fluid mw-100 rounded" src="/assets/uploads/ttu-flags-outside-e.jpg" alt="Texas Tech Jefferson location"></img>
  
  <div class="d-flex flex-column align-items-center my-5">
    <p>
      <i class="fas fa-map-marker-alt" aria-hidden="true"></i> 120 E Austin St. Jefferson, TX 75657
    </p>
    <p class="col-md-6">
      We offer Full Stack Web Development & Cyber Security classes at this location. 
      In our Full Stack Web Development course you will learn the most popular languages for making websites, web apps, games, animations, and mobile applications. In this track you'll learn front-end and back-end web development, some of today's most versatile and sought-after skills. Classes are taught by full-time, experienced web developers. 
      The Cyber Security course is practical and project-based. It prepares students to achieve and excel in employment in the quickly growing field of cybersecurity (methodologies in defensive, offensive, and cloud based computing). Our courses are developed and taught by instructors and industry professionals who understand industry certifications and provide a focus on competent, continued learning and community contribution. At the end of each course throughout the cybersecurity program, you will be prepared to take one of five CompTIA cybersecurity certifications (Network+, Security+, CySA+, PenTest+, and CASP+).   
 If you are interested in attending this location please feel free to apply online as we do not currently see walk-ins.
    </p>
    <div class="d-flex mt-4 align-items-center justify-content-center">
      <div>
        {% include btn-apply.html %}
      </div>
    </div>
    <div class="col-6 mt-4">
      <amp-iframe width="600"
        height="400"
        title="Google map pin on TTCA Jefferson"
        layout="responsive"
        sandbox="allow-scripts allow-same-origin allow-popups"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8QyBJxOJNoYRW-8JY7drdps&key={{ settings.google_maps_key }}
        ">
      </amp-iframe>
    </div>
  </div>

</div>