{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<label class="form-label" for="location">Preferred Location and Start Date? <span class="text-red-a">*</span></label>
<select class="form-control" id="location" name="start_date" required>
  <option value="" disabled selected>
    Please Select
  </option>
  {% for start_date in site.data.startDates[school.hubspot_company_id] %}
    {% assign getaccept_entity_id = start_date.getaccept_entity_id | default: school.getaccept_entity_id %}
    <optgroup label="{{ start_date.course_type }}">
        <option
          value="{{ start_date.salesforce_id | append: ',' | append: start_date.hubspot_ticket_id | append: ',' | append: getaccept_entity_id | append: ',' | append: start_date.getaccept_template_id | append: ',' | append: school.hubspot_company_id }}"
        >
        {{ start_date.course_subject }} - {{ start_date.start_date | date: "%B %d, %Y" }} ({{ start_date.days }} {{ start_date.start_time }}-{{ start_date.end_time }})
        </option>
    </optgroup>
  {% endfor %}
</select>